<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="http://codepen.io/edbond88/pen/CcgvA.css" media="screen" rel="stylesheet" type="text/css" />
    <style>
      .close{
          width:165px;
          font-size:24px;
          font-weight:bold;
          text-decoration:none;
          display:block;
          text-align:center;
          padding:8px 0 10px;
          color:#333;
          border:0px solid #333;
          border-radius:5px;
      }
    </style>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
